<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/main.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
      integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <title>Portfolio</title>
  </head>

  <body>
    <div class="frame">
      <div class="main_frame">
        <div class="left_frame">
          <div class="left_1">
            <div class="left_1-1">
              <img
                src="images/profile.png"
                width="156px"
                height="142px"
                alt=""
              />
            </div>
            <div class="left_1-2"><%=user.name%></div>
            <div class="left_1-3"><%=user.profession%></div>
            <div class="left-icons">
              <a class="link_href" href="">
                <div class="icon">
                  <img src="icon/Dribbble.svg" class="icon-1" alt="" />
                </div>
              </a>
              <a class="link_href" href="">
                <div class="icon">
                  <img src="icon/Facebook.svg" class="icon-1" alt="" />
                </div>
              </a>
              <a class="link_href" href="">
                <div class="icon">
                  <img src="icon/Instagram.svg" class="icon-1" alt="" />
                </div>
              </a>
              <a class="link_href" href="">
                <div class="icon">
                  <img src="icon/Linkeding.svg" class="icon-1" alt="" />
                </div>
              </a>
              <a class="link_href" href="">
                <div class="icon">
                  <img src="icon/Twitter.svg" class="icon-1" alt="" />
                </div>
              </a>
              <a class="link_href" href="">
                <div class="icon">
                  <img src="icon/Youtube.svg" class="icon-1" alt="" />
                </div>
              </a>
            </div>
          </div>
          <div class="marginer"></div>
          <div class="left_2">
            <div class="left_2-1">
              <span class="span_2-1">Age:</span>
              <strong><%=user.age%></strong>
            </div>
            <div class="left_2-2">
              <span class="span_2-2">Residnece:</span>
              <strong><%=user.residence%></strong>
            </div>
            <div class="left_2-3">
              <span class="span_2-3">Frelance:</span>
              <strong class="strong_2-3">Available</strong>
            </div>
            <div class="left_2-4">
              <span class="span_2-4">Address:</span>
              <strong><%=user.address%></strong>
            </div>
          </div>
          <div class="marginer"></div>
          <div class="left_3">
            <div class="title_1">Languages</div>
            <div class="lang_container">
              <div class="title_2"><%=user.languages[0]%></div>
              <div class="title_2">100%</div>
            </div>
            <div class="margin_container">
              <div class="margin_protsent"></div>
            </div>
            <div class="lang_container">
              <div class="title_2"><%=user.languages[1]%></div>
              <div class="title_2">80%</div>
            </div>
            <div class="margin_container">
              <div class="margin_protsent_1"></div>
            </div>
            <div class="lang_container">
              <div class="title_2"><%=user.languages[2]%></div>
              <div class="title_2">60%</div>
            </div>
            <div class="margin_container">
              <div class="margin_protsent_2"></div>
            </div>
          </div>
          <div class="marginer"></div>
          <div class="left_4">
            <div class="title_1">Skills</div>
            <div class="lang_container">
              <div class="title_2"><%=user.skills[0]%></div>
              <div class="title_2">90%</div>
            </div>
            <div class="margin_container">
              <div class="margin_protsent_3"></div>
            </div>
            <div class="lang_container">
              <div class="title_2"><%=user.skills[1]%></div>
              <div class="title_2">85%</div>
            </div>
            <div class="margin_container">
              <div class="margin_protsent_4"></div>
            </div>
            <div class="lang_container">
              <div class="title_2"><%=user.skills[2]%></div>
              <div class="title_2">80%</div>
            </div>
            <div class="margin_container">
              <div class="margin_protsent_5"></div>
            </div>
            <div class="lang_container">
              <div class="title_2"><%=user.skills[3]%></div>
              <div class="title_2">75%</div>
            </div>
            <div class="margin_container">
              <div class="margin_protsent_6"></div>
            </div>
            <div class="lang_container">
              <div class="title_2"><%=user.skills[4]%></div>
              <div class="title_2">70%</div>
            </div>
            <div class="margin_container">
              <div class="margin_protsent_7"></div>
            </div>
          </div>
          <div class="marginer"></div>
        <div class="left_5">
            <div class="title_3">Extra Skills</div>
            <div class="skills_container">
              <img src="icon/icons5.svg" width="15px" height="15px" alt="">
              <div class="title_4"><%=user.extra_skills[0]%></div>
            </div>
            <div class="skills_container">
              <img src="icon/icons5.svg" width="15px" height="15px" alt="">
              <div class="title_4"><%=user.extra_skills[1]%></div>
            </div>
            <div class="skills_container">
              <img src="icon/icons5.svg" width="15px" height="15px" alt="">
              <div class="title_4"><%=user.extra_skills[2]%></div>
            </div>
            <div class="skills_container">
              <img src="icon/icons5.svg" width="15px" height="15px" alt="">
              <div class="title_4"><%=user.extra_skills[3]%></div>
            </div>
          </div> 
          <div class="marginer"></div>
        </div>

        <div class="midd_frame">
          <div class="top_frame">
            <div class="left_cont">
              <strong>Doctor neurologists
                in OHSU Hospital </strong>
              <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Et, volutpat feugiat placerat lobortis. Natoque rutrum semper sed suspendisse nunc lectus.</span> 
             <div class="button">
              <a href="">
                <button>HIRE ME</button>
                <img src="images/Vector.svg" alt="" width="15px" height="10px">
               </a>
             </div>
            </div>
            <div class="right_cont">
              <img src="images/Your Image 1.png" width="326px" height="446px">
            </div>
          </div>
          <div class="center_frame">
            <div class="center_tittle">My Services</div>
            <div class="center_tittle_2">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. lorem ipsum</div>
          </div>
          <div class="bottom_frame">
            <div class="box">
              <img src="images/coding.svg" width="76px" height="67px"   alt="">
              <strong>Web Development</strong>
              <span>Blog E-commerce</span>
            </div>
            <div class="box">
              <img src="images/photographer.svg" width="76px" height="67px"   alt="">
              <strong>Photography</strong>
              <span>Portrait, Product Photography</span>
            </div>
            <div class="box">
              <img src="images/microphone.svg" width="76px" height="67px"   alt="">
              <strong>Sound Design</strong>
              <span>Voice Over, Beat Making</span>
            </div>
            <div class="box">
              <img src="images/illustration.svg" width="76px" height="67px"   alt="">
              <strong>UI/UX Design</strong>
              <span>Mobile App, Website Design</span>
            </div>
            <div class="box">
              <img src="images/game-development.svg" width="76px" height="67px"   alt="">
              <strong>Game Design</strong>
              <span>Character Design, Props & Objects</span>
            </div>
            <div class="box">
              <strong class="box_tit_1">Advertising</strong>
              <span class="box_tit_2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vitae nulla diam in ac dictum a urna viverra morbi. </span>
              <a href="">
                Order Now > 
              </a>
            </div>
          </div>
          </div>
        
         <div class="right_frame">
            <img src="icon/Contrast.svg" width="30px" height="30px" >
            <div class="icon_blog">
              <a href="">
                <img src="icon/Home.svg" alt="">
              </a> 
            <a href="">
              <img src="icon/Cv.png" alt="">
            </a>
            <a href="">
              <img src="icon/Service.png" alt="">
            </a>
            <a href="">
              <img src="icon/Portfolio.png" alt="">
            </a>
            <a href="">
              <img src="icon/Blog.png" alt="">
            </a>
            <a href="">
              <img src="icon/Contact.png" alt="">
            </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
