<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/main.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
      integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <title>Portfolio</title>
  </head>

  <body>
    <div class="frame">
      <div class="main_frame">
        <div class="left_frame">
          <div class="left_1">
            <div class="left_1-1">
              <img
                src="images/profile.png"
                width="156px"
                height="142px"
                alt=""
              />
            </div>
            <div class="left_1-2"><%=user.name%></div>
            <div class="left_1-3"><%=user.profession%></div>
            <div class="left-icons">
              <a class="link_href" href="">
                <div class="icon">
                  <img src="icon/Dribbble.svg" class="icon-1" alt="" />
                </div>
              </a>
              <a class="link_href" href="">
                <div class="icon">
                  <img src="icon/Facebook.svg" class="icon-1" alt="" />
                </div>
              </a>
              <a class="link_href" href="">
                <div class="icon">
                  <img src="icon/Instagram.svg" class="icon-1" alt="" />
                </div>
              </a>
              <a class="link_href" href="">
                <div class="icon">
                  <img src="icon/Linkeding.svg" class="icon-1" alt="" />
                </div>
              </a>
              <a class="link_href" href="">
                <div class="icon">
                  <img src="icon/Twitter.svg" class="icon-1" alt="" />
                </div>
              </a>
              <a class="link_href" href="">
                <div class="icon">
                  <img src="icon/Youtube.svg" class="icon-1" alt="" />
                </div>
              </a>
            </div>
          </div>
          <div class="marginer"></div>
          <div class="left_2">
            <div class="left_2-1">
              <span class="span_2-1">Age:</span>
              <strong><%=user.age%></strong>
            </div>
            <div class="left_2-2">
              <span class="span_2-2">Residnece:</span>
              <strong><%=user.residence%></strong>
            </div>
            <div class="left_2-3">
              <span class="span_2-3">Frelance:</span>
              <strong class="strong_2-3">Available</strong>
            </div>
            <div class="left_2-4">
              <span class="span_2-4">Address:</span>
              <strong><%=user.address%></strong>
            </div>
          </div>
          <div class="marginer"></div>
          <div class="left_3">
            <div class="title_1">Languages</div>
            <div class="lang_container">
              <div class="title_2"><%=user.languages[0]%></div>
              <div class="title_2">100%</div>
            </div>
            <div class="margin_container">
              <div class="margin_protsent"></div>
            </div>
            <div class="lang_container">
              <div class="title_2"><%=user.languages[1]%></div>
              <div class="title_2">80%</div>
            </div>
            <div class="margin_container">
              <div class="margin_protsent_1"></div>
            </div>
            <div class="lang_container">
              <div class="title_2"><%=user.languages[2]%></div>
              <div class="title_2">60%</div>
            </div>
            <div class="margin_container">
              <div class="margin_protsent_2"></div>
            </div>
          </div>
          <div class="marginer"></div>
          <div class="left_4">
            <div class="title_1">Skills</div>
            <div class="lang_container">
              <div class="title_2"><%=user.skills[0]%></div>
              <div class="title_2">90%</div>
            </div>
            <div class="margin_container">
              <div class="margin_protsent_3"></div>
            </div>
            <div class="lang_container">
              <div class="title_2"><%=user.skills[1]%></div>
              <div class="title_2">85%</div>
            </div>
            <div class="margin_container">
              <div class="margin_protsent_4"></div>
            </div>
            <div class="lang_container">
              <div class="title_2"><%=user.skills[2]%></div>
              <div class="title_2">80%</div>
            </div>
            <div class="margin_container">
              <div class="margin_protsent_5"></div>
            </div>
            <div class="lang_container">
              <div class="title_2"><%=user.skills[3]%></div>
              <div class="title_2">75%</div>
            </div>
            <div class="margin_container">
              <div class="margin_protsent_6"></div>
            </div>
            <div class="lang_container">
              <div class="title_2"><%=user.skills[4]%></div>
              <div class="title_2">70%</div>
            </div>
            <div class="margin_container">
              <div class="margin_protsent_7"></div>
            </div>
          </div>
          <div class="marginer"></div>
 <!--        <div class="left_5">
            <div class="title_3">Extra Skills</div>
            <div class="skills_container">
              <div class="box"></div>
              <div class="title_4"><%=user.extra_skills[0, 1]%></div>
            </div>
            <div class="skills_container">
              <div class="box"></div>
              <div class="title_4"><%=user.extra_skills[2, 3]%></div>
            </div>
            <div class="skills_container">
              <div class="box"></div>
              <div class="title_4"><%=user.extra_skills[4, 6]%></div>
            </div>
            <div class="skills_container">
              <div class="box"></div>
              <div class="title_4"><%=user.extra_skills[6, 7]%></div>
            </div>
          </div> -->
          <div class="marginer"></div>
        </div>
        <div class="midd_frame">
          <div class="top_frame">
            <div class="left_cont">
              <strong>Doctor neurologists
                in OHSU Hospital </strong>
              <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Et, volutpat feugiat placerat lobortis. Natoque rutrum semper sed suspendisse nunc lectus.</span> 
             <a href="">
              <div class="button_1">
                <button>HIRE ME </button>
              </div> 
             </a>
            </div>
            <div class="right_cont">
              <img src="images/Your Image 1.png" width="326px" height="446px">
            </div>
          </div>
          <div class="center_frame">
            <div class="center_tittle">My Services</div>
            <div class="center_tittle_2">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. lorem ipsum</div>
          </div>
          </div>
        <div class="right_frame"></div>
      </div>
    </div>
  </body>
</html>
